<app-navbar></app-navbar>
<section class="page_breadcrumbs ds parallax section_padding_75" style="background-image: url('{{ app_url }}/images/baners/img_5.jpeg')">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 text-center">
        <h2>About</h2>
        <ol class="breadcrumb greylinks">
          <li>
            <a href="index.html">
        Home
      </a>
          </li>
          <li>
            <a href="about.html#">Pages</a>
          </li>
          <li class="active">About</li>
        </ol>
      </div>
    </div>
  </div>
</section>

<section id="about" class="ds ms page_about parallax section_padding_100 columns_padding_25 columns_margin_bottom_30">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 text-center">
        <h2 class="section_header">{{ about.header1 }}</h2>
        <p class="small-text highlight lusitana">{{ about.header2 }}</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <p class="fontsize_20">{{ about.content1 }}</p>
        <p>{{ about.content2 }}</p>
      </div>
      <div class="col-md-6">
        <div class="vertical-item content-absolute ds">
          <div class="item-media">
            <img src="{{ app_url }}/images/baners/{{ about.image }}" alt="">
            <div class="media-links">
              <a href="shortcodes_widgets.html#" class="abs-link"></a>
            </div>
          </div>
          <div class="item-content">
            <span class="main_bg_color2">
              visit
            </span>
            <h3>
              FOB&TN
              <!-- <br> Courses -->
            </h3>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="reviews" class="ds page_testimonials section_padding_100">
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <div class="owl-carousel" data-responsive-lg="1" data-responsive-md="1" data-responsive-sm="1" data-dots="true">

          <blockquote class="with_quotes text-center">
            <img src="images/faces/01.jpg" alt="" />
            <div class="item-meta">
              <h5>
                <a href="about.html#">Fope Ogundero</a>
              </h5>
              <p class="small-text lusitana highlight">President</p>
            </div>
            Pork loin andouille rump, corned beef bacon kevin venison tail. Tri-tip boudin pig tenderloin ham. Meatloaf cupim picanha pork chop landjaeger pork chicken andouille jerky, shoulder flank turkey.
          </blockquote>

          <blockquote class="with_quotes text-center">
            <img src="images/faces/01.jpg" alt="" />
            <div class="item-meta">
              <h5>
                <a href="about.html#">Fope Ogundero</a>
              </h5>
              <p class="small-text lusitana highlight">photographer</p>
            </div>
            Pork loin andouille rump, corned beef bacon kevin venison tail. Tri-tip boudin pig tenderloin ham. Meatloaf cupim picanha pork chop landjaeger pork chicken andouille jerky, shoulder flank turkey.
          </blockquote>

          <blockquote class="with_quotes text-center">
            <img src="images/faces/01.jpg" alt="" />
            <div class="item-meta">
              <h5>
                <a href="about.html#">Fope Ogundero</a>
              </h5>
              <p class="small-text lusitana highlight">photographer</p>
            </div>
            Pork loin andouille rump, corned beef bacon kevin venison tail. Tri-tip boudin pig tenderloin ham. Meatloaf cupim picanha pork chop landjaeger pork chicken andouille jerky, shoulder flank turkey.
          </blockquote>

        </div>
      </div>
    </div>
  </div>
</section>

<section class="ds ms section_padding_100">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 text-center">
        <h2 class="section_header">Team Member</h2>
        <p class="small-text highlight lusitana">The Team of Professionals</p>
      </div>
    </div>
    <div class="row topmargin_40">
      <div class="col-sm-12">
        <div class="owl-carousel" data-responsive-lg="3" data-margin="60" data-nav="false" data-dots="false">
          <div class="vertical-item content-padding text-center">
            <div class="item-media" style="overflow: hidden;  width: 250px; height: 230px;">
              <img src="{{ app_url }}/images/teams/{{ teams[0].image }}" alt="" />
            </div>
            <div class="item-content">
              <h4 class="margin_0">
                <a href="team-single.html">{{ teams[0].team_name }}</a>
              </h4>
              <p class="small-text lusitana highlight">{{ teams[0].designation }}</p>
            </div>
          </div>

          <div class="vertical-item content-padding text-center">
            <div class="item-media" style="overflow: hidden;  width: 250px; height: 230px;">
              <img src="{{ app_url }}/images/teams/{{ teams[1].image }}" alt="" />
            </div>
            <div class="item-content">
              <h4 class="margin_0">
                <a href="team-single.html">{{ teams[1].team_name }}</a>
              </h4>
              <p class="small-text lusitana highlight">{{ teams[1].designation }}</p>
            </div>
          </div>

          <div class="vertical-item content-padding text-center">
            <div class="item-media" style="overflow: hidden;  width: 250px; height: 230px;">
              <img src="{{ app_url }}/images/teams/{{ teams[0].image }}" alt="" />
            </div>
            <div class="item-content">
              <h4 class="margin_0">
                <a href="team-single.html">{{ teams[0].team_name }}</a>
              </h4>
              <p class="small-text lusitana highlight">{{ teams[0].designation }}</p>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</section>

<!-- <section id="contacts" class="cs background_cover page_banner section_padding_top_65 section_padding_bottom_65">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 text-center">
        <span class="small-text main_bg_color2">24/7 support</span>
        <p class="big playfair topmargin_10">1-800-123-4567</p>
      </div>
    </div>
  </div>
</section> -->
<app-footer></app-footer>
