<app-navbar></app-navbar>

<section class="intro_section page_mainslider ds">
  <div class="flexslider" data-nav="false">

    <ul class="slides">
      <li>
        <img src="{{ app_url }}/images/baners/{{baner1.image}}" alt="">

        <div class="bottom-content main_bg_color3 transparent section_padding_top_30 section_padding_bottom_30 table_section">
          <div class="container">
            <div class="row">
              <div class="col-sm-4">
                <h2 class="section_header">{{ baner1.talent_name }}</h2>
                <p class="small-text lusitana highlight bottommargin_0">{{ baner1.talent_category }}</p>
              </div>
              <div class="col-sm-8 text-center text-sm-right">
                <div class="fontsize_16 lusitana text-uppercase grey parameters ">
                  <span>
                    Type
                    <br>
                    <span class="highlight">{{ baner1.type }}</span>
                  </span>
                  <span>
                      Skill
                      <br>
                      <span class="highlight">{{ baner1.skill }}</span>
                  </span>
                  <span>
                    Experience
                      <br>
                      <span class="highlight">{{ baner1.experience }}</span>
                  </span>
                  <span>
                    Country
                      <br>
                      <span class="highlight">{{ baner1.country }}</span>
                  </span>
                  <span>
                    State
                      <br>
                      <span class="highlight">{{ baner1.state }}</span>
                  </span>
                  <span>

                      <br>
                      <span class="highlight">{{ baner1.city }}</span>
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="container">
          <div class="row">
            <div class="col-sm-12 text-right">
              <div class="slide_description_wrapper">
                <div class="slide_description text-center">
                  <div class="intro-layer" data-animation="fadeInUp">
                    <h3 class="text-uppercase">
                      {{ baner1.content1 }}
                    </h3>
                  </div>
                  <div class="intro-layer" data-animation="fadeInUp">
                    <h2 class="text-uppercase big">
                      {{ baner1.content2 }}
                      <br> {{ baner1.content3 }}
                    </h2>
                  </div>
                  <div class="intro-layer inline-content" data-animation="fadeInUp">
                    <a class="theme_button color2" routerLink="/login">{{ baner1.bottom1 }}</a>
                    <a class="theme_button inverse" routerLink="/login">{{ baner1.botton2 }}</a>
                  </div>
                </div>
                <!-- eof .slide_description -->
              </div>
              <!-- eof .slide_description_wrapper -->
            </div>
            <!-- eof .col-* -->
          </div>
          <!-- eof .row -->
        </div>
        <!-- eof .container -->
      </li>
      <li>
        <img src="{{ app_url }}/images/baners/{{ baner2.image }}" alt="">

        <div class="bottom-content main_bg_color3 transparent section_padding_top_30 section_padding_bottom_30 table_section">
          <div class="container">
            <div class="row">
              <div class="col-sm-4">
                <h2 class="section_header">{{ baner3.talent_name }}</h2>
                <p class="small-text lusitana highlight bottommargin_0">{{ baner3.talent_category }}</p>
              </div>
              <div class="col-sm-8 text-center text-sm-right">
                <div class="fontsize_16 lusitana text-uppercase grey parameters ">
                  <span>
                    Type
                    <br>
                    <span class="highlight">{{ baner3.type }}</span>
                  </span>
                  <span>
                      Skill
                      <br>
                      <span class="highlight">{{ baner3.skill }}</span>
                  </span>
                  <span>
                    Experience
                      <br>
                      <span class="highlight">{{ baner3.experience }}</span>
                  </span>
                  <span>
                    Country
                      <br>
                      <span class="highlight">{{ baner3.country }}</span>
                  </span>
                  <span>
                    State
                      <br>
                      <span class="highlight">{{ baner3.state }}</span>
                  </span>
                  <span>

                      <br>
                      <span class="highlight">{{ baner3.city }}</span>
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="container">
          <div class="row">
            <div class="col-sm-12 text-right">
              <div class="slide_description_wrapper">
                <div class="slide_description text-center">
                  <div class="intro-layer" data-animation="fadeInUp">
                    <h3 class="text-uppercase">
                      {{ baner2.content1 }}
                    </h3>
                  </div>
                  <div class="intro-layer" data-animation="fadeInUp">
                    <h2 class="text-uppercase big">
                      {{ baner2.content2 }}
                      <br> {{ baner2.content3 }}
                    </h2>
                  </div>
                  <div class="intro-layer inline-content" data-animation="fadeInUp">
                    <a class="theme_button color2" routerLink="/login">{{ baner2.bottom1 }}</a>
                    <a class="theme_button inverse" routerLink="/login">{{ baner2.botton2 }}</a>
                  </div>
                </div>
                <!-- eof .slide_description -->
              </div>
              <!-- eof .slide_description_wrapper -->
            </div>
            <!-- eof .col-* -->
          </div>
          <!-- eof .row -->
        </div>
        <!-- eof .container -->
      </li>
      <li>
        <img src="{{ app_url }}/images/baners/{{ baner3.image }}" alt="">

        <div class="bottom-content main_bg_color3 transparent section_padding_top_30 section_padding_bottom_30 table_section">
          <div class="container">
            <div class="row">
              <div class="col-sm-4">
                <h2 class="section_header">{{ baner3.talent_name }}</h2>
                <p class="small-text lusitana highlight bottommargin_0">{{ baner3.talent_category }}</p>
              </div>
              <div class="col-sm-8 text-center text-sm-right">
                <div class="fontsize_16 lusitana text-uppercase grey parameters ">
                  <span>
                    Type
                    <br>
                    <span class="highlight">{{ baner3.type }}</span>
                  </span>
                  <span>
                      Skill
                      <br>
                      <span class="highlight">{{ baner3.skill }}</span>
                  </span>
                  <span>
                    Experience
                      <br>
                      <span class="highlight">{{ baner3.experience }}</span>
                  </span>
                  <span>
                    Country
                      <br>
                      <span class="highlight">{{ baner3.country }}</span>
                  </span>
                  <span>
                    State
                      <br>
                      <span class="highlight">{{ baner3.state }}</span>
                  </span>
                  <span>

                      <br>
                      <span class="highlight">{{ baner3.city }}</span>
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="container">
          <div class="row">
            <div class="col-sm-12 text-right">
              <div class="slide_description_wrapper">
                <div class="slide_description text-center">
                  <div class="intro-layer" data-animation="fadeInUp">
                    <h3 class="text-uppercase">
                      {{ baner3.content1 }}
                    </h3>
                  </div>
                  <div class="intro-layer" data-animation="fadeInUp">
                    <h2 class="text-uppercase big" style="font-size: 90px;">
                      {{ baner3.content2 }}
                      <br> {{ baner3.content3 }}
                    </h2>
                  </div>
                  <div class="intro-layer inline-content" data-animation="fadeInUp">
                    <a class="theme_button color2" routerLink="/login">{{ baner3.bottom1 }}</a>
                    <a class="theme_button inverse" routerLink="/login">{{ baner3.botton2 }}</a>
                  </div>
                </div>
                <!-- eof .slide_description -->
              </div>
              <!-- eof .slide_description_wrapper -->
            </div>
            <!-- eof .col-* -->
          </div>
          <!-- eof .row -->
        </div>
        <!-- eof .container -->
      </li>
    </ul>
  </div>
  <!-- eof flexslider -->
</section>

<section id="about" class="ds ms page_about parallax section_padding_100 columns_padding_25 columns_margin_bottom_30">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 text-center">
        <h2 class="section_header">{{ about.header1 }}</h2>
        <p class="small-text highlight lusitana">{{ about.header2 }}</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <p class="fontsize_20">{{ about.content1 }}</p>
        <p>{{ about.content2 }}</p>
      </div>
      <div class="col-md-6">
        <div class="vertical-item content-absolute ds">
          <div class="item-media">
            <img src="{{ app_url }}/images/baners/{{ about.image }}" alt="">
            <div class="media-links">
              <a href="shortcodes_widgets.html#" class="abs-link"></a>
            </div>
          </div>
          <div class="item-content">
            <span class="main_bg_color2">
              visit
            </span>
            <h3>
              FOB&TN
              <!-- <br> Courses -->
            </h3>
          </div>
        </div>
      </div>
      <div class="col-sm-12 text-center">
        <a [routerLink]="['/about']" class="theme_button color2">Read more</a>
      </div>
    </div>
  </div>
</section>

<section class="ds section_padding_100">
  <div class="row">
    <div class="col-sm-12 text-center">
      <h4 class="section_header">Our Talent Crew</h4>
      <p class="small-text highlight lusitana"></p>
    </div>
  </div>
  <div class="owl-carousel related-photos-carousel" data-margin="50" data-nav="true" data-loop="false" data-items="100">
    <div>
      <div class="vertical-item gallery-title-item content-absolute">
        <div class="item-media" style=" overflow: hidden; width: 250px; height: 320px;">
          <img src="{{ app_url }}/images/talents/{{ Crew[0].image }}" alt="">
          <div class="media-links">
            <div class="links-wrap">
              <a class="p-view prettyPhoto " title="" data-gal="prettyPhoto[gal]" href="{{ app_url }}/images/talents/{{ Crew[0].image }}"></a>
              <a class="p-link" title="" href="gallery-single.html"></a>
            </div>
          </div>
        </div>
      </div>
      <div class="item-title text-center">
        <div class="categories-links small-text highlightlinks lusitana">
          <a href="javascript:void(0)" (click)="routelink(Crew[0].id)">{{ Crew[0].cat_name }}</a>
        </div>
        <h4>
          <a href="javascript:void(0)" (click)="routelink(Crew[0].id)">{{ Crew[0].firstname }} {{ Crew[0].lastname }}</a>
        </h4>
      </div>
    </div>

    <div>
      <div class="vertical-item gallery-title-item content-absolute">
        <div class="item-media" style=" overflow: hidden; width: 250px; height: 320px;">
          <img src="{{ app_url }}/images/talents/{{ Crew[1].image }}" alt="">
          <div class="media-links">
            <div class="links-wrap">
              <a class="p-view prettyPhoto " title="" data-gal="prettyPhoto[gal]" href="{{ app_url }}/images/talents/{{ Crew[1].image }}"></a>
              <a class="p-link" title="" href="gallery-single.html"></a>
            </div>
          </div>
        </div>
      </div>
      <div class="item-title text-center">
        <div class="categories-links small-text highlightlinks lusitana">
          <a href="gallery-single.html#">{{ Crew[1].cat_name }}</a>
        </div>
        <h4>
          <a href="javascript:void(0)" (click)="routelink(Crew[1].id)">{{ Crew[1].firstname }} {{ Crew[1].lastname }}</a>
        </h4>
      </div>
    </div>

    <div>
      <div class="vertical-item gallery-title-item content-absolute">
        <div class="item-media" style=" overflow: hidden; width: 250px; height: 320px;">
          <img src="{{ app_url }}/images/talents/{{ Crew[2].image }}" alt="">
          <div class="media-links">
            <div class="links-wrap">
              <a class="p-view prettyPhoto " title="" data-gal="prettyPhoto[gal]" href="{{ app_url }}/images/talents/{{ Crew[2].image }}"></a>
              <a class="p-link" title="" href="gallery-single.html"></a>
            </div>
          </div>
        </div>
      </div>
      <div class="item-title text-center">
        <div class="categories-links small-text highlightlinks lusitana">
          <a href="javascript:void(0)" (click)="routelink(Crew[2].id)">{{ Crew[2].cat_name }}</a>
        </div>
        <h4>
          <a href="javascript:void(0)" (click)="routelink(Crew[2].id)"> {{ Crew[2].firstname }} {{ Crew[2].lastname }}</a>
        </h4>
      </div>
    </div>

    <div>
      <div class="vertical-item gallery-title-item content-absolute">
        <div class="item-media" style=" overflow: hidden; width: 250px; height: 320px;">
          <img src="{{ app_url }}/images/talents/{{ Crew[3].image }}" alt="">
          <div class="media-links">
            <div class="links-wrap">
              <a class="p-view prettyPhoto " title="" data-gal="prettyPhoto[gal]" href="{{ app_url }}/images/talents/{{ Crew[3].image }}"></a>
              <a class="p-link" title="" href="gallery-single.html"></a>
            </div>
          </div>
        </div>
      </div>
      <div class="item-title text-center">
        <div class="categories-links small-text highlightlinks lusitana">
          <a href="javascript:void(0)" (click)="routelink(Crew[3].id)">{{ Crew[3].cat_name }}</a>
        </div>
        <h4>
          <a href="javascript:void(0)" (click)="routelink(Crew[3].id)">{{ Crew[3].firstname }} {{ Crew[3].lastname }}</a>
        </h4>
      </div>
    </div>

    <div>
      <div class="vertical-item gallery-title-item content-absolute">
        <div class="item-media" style=" overflow: hidden; width: 250px; height: 320px;">
          <img src="{{ app_url }}/images/talents/{{ Crew[4].image }}" alt="">
          <div class="media-links">
            <div class="links-wrap">
              <a class="p-view prettyPhoto " title="" data-gal="prettyPhoto[gal]" href="{{ app_url }}/images/talents/{{ Crew[4].image }}"></a>
              <a class="p-link" title="" href="gallery-single.html"></a>
            </div>
          </div>
        </div>
      </div>
      <div class="item-title text-center">
        <div class="categories-links small-text highlightlinks lusitana">
          <a href="javascript:void(0)" (click)="routelink(Crew[4].id)">{{ Crew[4].cat_name }}</a>
        </div>
        <h4>
          <a href="javascript:void(0)" (click)="routelink(Crew[4].id)">{{ Crew[4].firstname }} {{ Crew[4].lastname }}</a>
        </h4>
      </div>
    </div>

  </div>


</section>

<section id="reviews" class="ds page_testimonials section_padding_100">
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <div class="owl-carousel" data-responsive-lg="1" data-responsive-md="1" data-responsive-sm="1" data-dots="true">

          <blockquote class="with_quotes text-center">
            <img src="{{ app_url }}/images/talents/{{ interviews[0].image }}" alt="" />
            <div class="item-meta">
              <h5>
                <a href="index.html#">{{interviews[0].header1}}</a>
              </h5>
              <p class="small-text lusitana highlight">{{interviews[0].header2}}</p>
            </div>
            {{interviews[0].header2}}
          </blockquote>


          <blockquote class="with_quotes text-center">
            <img src="{{ app_url }}/images/talents/{{ interviews[1].image }}" alt="" />
            <div class="item-meta">
              <h5>
                <a href="index.html#">{{interviews[1].header1}}</a>
              </h5>
              <p class="small-text lusitana highlight">{{interviews[1].header2}}</p>
            </div>
            {{interviews[1].header2}}
          </blockquote>
<!--
          <blockquote class="with_quotes text-center">
            <img src="{{ app_url }}/images/talents/{{ interviews[1].image }}" alt="" />
            <div class="item-meta">
              <h5>
                <a href="index.html#">{{interviews[1].header1}}</a>
              </h5>
              <p class="small-text lusitana highlight">{{interviews[1].header2}}</p>
            </div>
            {{interviews[1].header2}}
          </blockquote> -->

        </div>
      </div>
    </div>
  </div>
</section>

<section class="ds section_padding_100 columns_margin_bottom_20">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 text-center">
        <h2 class="section_header">Our Activities</h2>
        <p class="small-text highlight lusitana">Latest trends of the industry</p>
      </div>
    </div>
    <div class="row">
      <div *ngFor="let activity of activities" class="col-md-4 col-sm-6">
        <article class="vertical-item content-padding with_background bottom_color_border text-center">
          <div class="item-media" style="overflow: hidden;  width: 350px; height: 230px;">
            <img src="{{ app_url }}/images/activities/{{ activity.image }}" alt="">
            <div class="media-links">
              <a href="blog-single-right.html" class="abs-link"></a>
            </div>
          </div>
          <div class="item-content">
            <header class="entry-header">
              <span class="entry-date highlight lusitana">
                <time class="entry-date" datetime="2017-03-13T08:50:40+00:00">
                  March 13, 2017
                </time>
              </span>
              <h4 class="entry-title">
                <a href="blog-single-right.html">{{ activity.tittle }} </a>
              </h4>
              <p>{{ activity.content | slice:0:60 }}...</p>
              <p>
                <a class="social-icon theme-color-icon soc-facebook" href="index.html#" title="Facebook"></a>
                <a class="social-icon theme-color-icon soc-twitter" href="index.html#" title="Twitter"></a>
                <a class="social-icon theme-color-icon soc-google" href="index.html#" title="Google"></a>
              </p>
            </header>

          </div>
        </article>
      </div>
    </div>
  </div>
</section>

<app-footer></app-footer>
