
<section class="ls section_padding_top_50 section_padding_bottom_50 columns_padding_10">
  <div class="container-fluid">

    <div class="row">
      <div class="col-sm-12">
        <h3>Welcome</h3>
        <h4>{{ profile.firstname }} {{ profile.lastname }}</h4>
      </div>
    </div>
    <!-- .row -->


    <div class="row">
      <div class="col-md-12">


        <div class="row">
          <!-- User Bio -->
          <div class="col-xs-12 col-sm-12">

            <div class="with_border with_padding">
              <div class="media big-left-media">
                <div class="media-left">
                  <img src="{{ app_url }}/images/talents/img_12.jpeg" alt="...">
                </div>
                <div class="media-body">
                  <h4>President Welcome Address</h4>
                  <h5>Foper Ogundero</h5>
                  <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo.
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo.
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo.
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo.
            </p>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo.
            </p>
                </div>
              </div>
            </div>
            <!-- .with_border -->
          </div>
          <!-- .col-* -->

        </div>
        <!-- .row -->

        <div class="row">

          <!-- User Info -->
          <div class="col-xs-12 col-md-12">

              <div class="col-sm-4">
                <div class="teaser text-center">
                  <div class="teaser_icon main_bg_color size_normal round">
                    <i class="fa fa-comments-o"></i>
                  </div>
                  <h3 class="text-uppercase">
                    Be Our Guest
                  </h3>
                  <p>At vero eos et accusam justo duo dolores ea rebum stet</p>
                  <a href="javascript::void(0)" [hidden]="disabled3" (click)="activate(3)" class="theme_button">Proceed as guest <i class="glyphicon glyphicon-ok"></i></a>
                  <a type="botton" [hidden]="!disabled3" class="theme_button"  disabled="disabled"><i class="fa fa-spinner fa-spin"></i> Processing...</a>
                </div>
              </div>
              <div class="col-sm-4">
                <div class="teaser text-center">
                  <div class="teaser_icon main_bg_color size_normal round">
                    <i class="fa fa-star-o"></i>
                  </div>
                  <h3 class="text-uppercase">
                    Activate Talent Account
                  </h3>
                  <p>Clita kasd guberren no sea takimata sanctus est lorem</p>
                  <a href="javascript::void(0)" [hidden]="disabled2" (click)="activate(2)" class="theme_button">Proceed as Talent <i class="glyphicon glyphicon-ok"></i></a>
                  <a type="botton" [hidden]="!disabled2" class="theme_button"  disabled="disabled"><i class="fa fa-spinner fa-spin"></i> Processing...</a>
                </div>
              </div>
              <div class="col-sm-4">
                <div class="teaser text-center">
                  <div class="teaser_icon main_bg_color size_normal round">
                    <i class="fa fa-thumbs-o-up"></i>
                  </div>
                  <h3 class="text-uppercase">
                    Activate Investor Account
                  </h3>
                  <p>Ipsum dolor sit amet. Lorem ipsum dolor sit consetetur sadipscing</p>
                  <a href="javascript::void(0)" [hidden]="disabled1" (click)="activate(4)" class="theme_button">Proceed as an Investor <i class="glyphicon glyphicon-ok"></i></a>
                  <a type="botton" [hidden]="!disabled1" class="theme_button"  disabled="disabled"><i class="fa fa-spinner fa-spin"></i> Processing...</a>
                </div>
              </div>

          </div>
          <!-- col-* -->
        </div>
        <!-- .row -->
      </div>
      <!-- .col-* left column -->
    </div>
    <!-- .row main columns -->
  </div>
  <!-- .container -->
</section>
